
.container{
  background-color: #F8A528;
  padding: 5em 0 2.5em 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.container img{      
  max-width: 25%;
  flex: 25%;   
}

@media screen and (max-width: 800px) {
  .container img {
    flex: 50%;
    max-width: 50%;
  }
}
