@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

:root {
  background-color: #efefef;
}

header{
  background-color: #F8A528;
  padding: .5em .5em;
}

.work{
  color:brown;
}